APP_MODE=development
APP_VERSION=1.0.0
APP_PORT=8000
APP_LOG=true
APP_URL=http://localhost

ACCESS_TOKEN=
TOKEN_SECRET=
SECRET_PASSWORD_ENCRYPTION=

NODE_ENV=local

DB_HOST=localhost
DB_USER_NAME=root
DB_PASSWORD=root
DB_DIALECT=mysql
DB_NAME=leora_ecommerce
DB_LOG=false
DB_PORT=3306

CORS_ORIGIN="http://localhost:5173,http://localhost:3000"

MAXIMUM_UPLOAD_FILE=2048

WABLAS_SECRET_KEY=
WABLAS_API_KEY=
WABLAS_URL=

MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false


BITESHIP_API_KEY=YOUR_API_KEY_HERE
BITESHIP_BASE_URL=https://api.biteship.com/v1

OPENAI_API_KEY=
OPENAI_CHAT_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_EMBEDDING_DIMENSIONS=1024

PINECONE_API_KEY=
PINECONE_INDEX=ecommerce-products
PINECONE_NAMESPACE=products

